<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
	<router id="admin">
		<route frontName="wiki_birthday" id="wiki_birthdaypromotion">
			<module before="Magento_Backend" name="wiki_birthdaypromotion"/>
		</route>
	</router>
</config>