<!--@subject Subject Of your email  @-->
<!--@vars {
"var this.getUrl($store, 'admin')":"Warehouse Account URL",
"var customer.email":"Customer Email",
"var customer.name":"Customer Name"
} @-->
 
{{template config_path="design/email/header_template"}} <!-- pathe of template header-->
 
<!-- here $myvar1 , $myvar2, $myvar3, $myvar4, $myvar5, $myvar6 are variables in which we
                                     asssign values when we use this template for send mail-->
 
<!-- you can Modify content of template according to your requirement-->
<table>
    <tr class="email-intro">
        <td>
            <p class="greeting">{{trans "hello"}}</p>
          
        </td>
    </tr>
    <tr class="email-summary">
        <td> 
            <h1>{{trans 'Your Order' }}</h1>
            <p>{{trans 'Placed on' }}</p>
        </td>
    </tr>
    <tr class="email-information">       
    </tr>
</table>
 
{{template config_path="design/email/footer_template"}} <!--footer of template-->
